*{
    box-sizing: border-box;
}

:root {
    --primary: rgb(240, 247, 254);
    --secondary: rgba(13, 17, 27, 0.9);
   
}

body {
    font-family: Arial, sans-serif;
    font-size: 8px;
}

header {
    color: var(--primary);
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    font-size: 5em;
}

nav a{
    margin-right: 15px;
    color: var(--primary);
    font-size: 2em;
    
}

main {
    color: var(--secondary);
    background-color: var(--primary);
}

.avatar-img {
    border-radius: 50%;
    margin: 2%;
}

.page-section {
    display: flex;
    flex-direction: row;
}

.page-section > h2{
    flex: 0 0 20%;
    font-size: 4em;
    text-align: right;
    border-right: 3px;
    margin-right: 5%;

}

.flex-container {
    display: flex;
    flex: 0 0 70%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 800px;
}

.flex-item {
    height: 30%;
    flex: 0 0 40%;
    margin: 2%;
    border: 5px solid var(--secondary);
    border-radius: 15%;
    background-color: var(--primary);
    text-align: center;
    background-size: 100%;
    font-size: 2em;
    color: var(--primary);
    font-size: 3em;
    text-decoration: underline;
}

.flex-item:first-child {
    flex: 0 0 96%;
}

.balloons {
     background-image: url("../assets/pictures/balloons-img.jpg");
}

.dog {
    background-image: url("../assets/pictures/dog-img.jpg");
}

.pineapple {
    background-image: url("../assets/pictures/pineapple-img.jpg");
}

.code {
    background-image: url("../assets/pictures/code-img.jpg");
}

.lego {
    background-image: url("../assets/pictures/lego-img.jpg");
}
/* under 700px- mobile
700-1330px- tablet
over 1330px- laptop*/