*{
    box-sizing: border-box;
}

:root {
    --primary: rgb(240, 247, 254);
    --secondary: rgba(13, 17, 27, 0.9);
   
}

/* Mobile first design, main layout is for screens with width below 700px */
body {
    font-family: Arial, sans-serif;
    font-size: 8px;
}

header {
    display: flex;
    flex-direction: row;
    color: var(--primary);
    background-color: var(--secondary);
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 20vh;
}

header > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3em;
    color: var(--primary);
}

h1 {
    font-size: 6em;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 3em;
}

.avatar-img {
    border-radius: 50%;
}

main {
    color: var(--secondary);
    background-color: var(--primary);
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    background-color: var(--secondary);
    color: var(--primary);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

footer > h2 {
    flex: 0 0 20%;
    text-align: right;
    border-right: 3px;
    margin-right: 5%;
}

.address > a {
    margin-right: 20px;
    color: var(--primary);
    font-size: 2em;
}

.bio-text {
    font-size: 2em;
    text-justify: distribute;
}

.work-item {
    min-height: 150px;
    border: 5px solid var(--secondary);
    background-color: black;
    text-align: center;
    background-size: 100%;
    font-size: 3em;
    color: var(--primary);
    text-decoration: underline;
    text-shadow: 2px 2px var(--secondary);
}

.WWWT {
     background-image: url("../assets/pictures/WWWT.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.weather {
    background-image: url("../assets/pictures/weather_dashboard.png");
}

.code {
    background-image: url("../assets/pictures/code_quiz.png");
}

.soon {
    background-image: url("../assets/pictures/code-img.jpg");
}

/* Tablet layout, min screen width 700px */
/* @media only screen and (min-width: 700px) {

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    } */ 
    
    /* .flex-container {
        display: flex;
        flex: 1 0 70%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        height: auto;
    }

    .flex-item {
        flex: 1 1 40%;
    }
} */

/* Desktop layout, min screen layout 1025px */
/* @media only screen and (min-width: 1025px) {

    .about-me > h2 {
        flex: 0 0 20%;
        text-align: right;
        border-right: 3px;
        margin-right: 5%;
    } 
    
    .about-me {
        display: flex;
        flex-direction: row;
    }

    .work {
        display: flex;
        flex-direction: row;
    }

    .about-me > div {
        flex: 0 0 73%;
    }

    .work > h2 {
        flex: 0 0 20%;
        text-align: right;
        border-right: 3px;
        margin-right: 5%;
    }

    .work > div {
        flex: 0 0 73%;
    }
}  */
