*{
    box-sizing: border-box;
}

:root {
    --primary: rgb(240, 247, 254);
    --secondary: rgba(13, 17, 27, 0.9);
   
}

body {
    font-family: Arial, sans-serif;
    font-size: 8px;
}

header {
    color: var(--primary);
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 5em;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 4em;
}

nav > a{
    margin-right: 15px;
    color: var(--primary);
    font-size: 2em;
    
}

main {
    color: var(--secondary);
    background-color: var(--primary);
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    background-color: var(--secondary);
    color: var(--primary);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address > a {
    color: var(--primary);
    font-size: 3em;
}

.avatar-img {
    border-radius: 50%;
    margin: 2%;
}

.page-section {
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: auto;
}

.flex-item {
    height: 25%;
    width: 96%;
    min-height: 200px;
    flex: 1 0 auto;
    margin: 2%;
    border: 5px solid var(--secondary);
    border-radius: 15%;
    background-color: var(--primary);
    text-align: center;
    background-size: 100%;
    font-size: 2em;
    color: var(--primary);
    font-size: 3em;
    text-decoration: underline;
    text-shadow: 2px 2px var(--secondary);
}

.flex-item:first-child {
    flex: 0 0 96%;
    height: 35%;
}

.balloons {
     background-image: url("../assets/pictures/balloons-img.jpg");
}

.dog {
    background-image: url("../assets/pictures/dog-img.jpg");
}

.pineapple {
    background-image: url("../assets/pictures/pineapple-img.jpg");
}

.code {
    background-image: url("../assets/pictures/code-img.jpg");
}

.lego {
    background-image: url("../assets/pictures/lego-img.jpg");
}
/* under 700px- mobile
700-1330px- tablet
over 1330px- laptop*/

@media only screen and (min-width: 700px) {
    
    .flex-container {
        display: flex;
        flex: 1 0 70%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        height: auto;
    }

    .flex-item {
        height: 25%;
        min-height: 200px;
        flex: 1 1 40%;
    }
}

/* @media only screen and (min-width: 1330px) {

    h2{
        flex: 0 0 20%;
        font-size: 4em;
        text-align: right;
        border-right: 3px;
        margin-right: 5%;
    } 
} */
